.text-success{
    color:green;
}
button{
    margin:5px;
}

ul{
    display: inline-block
}

.card{
    
    margin:20px;
    background-color: grey;
    color:white;
    width:20%;
    height:220px;
    padding:10px;
    text-align: center;
    display: inline-block;
    
}

li{
    list-style-type: none;
}

.text{
    justify-content: center;
}