<p>directives works!</p>
<div *ngIf="true">this is visible</div>
<div *ngIf="true">this is hidden</div>
<div *ngIf="isVisable">the paragraph is visible if we click visable button</div>
<button class="btn btn-info" (click)="getVisable()">Visable</button>
<button  class="btn btn-warning" (click)="getInvisible()">not Visable</button>
<div class="text text-center">
    <div class="card" *ngFor="let data of Datadetails">
    <ul>
        <img src="../../assets/laptop.jpeg" alt="" width="80px" height="100px" />
        <li>
            {{ data.name }}
        </li>
        <li>
            {{ data.description }}
        </li>
        <button class="btn btn-primary">Buy</button>
        <button class="btn btn-info">Info</button>
    </ul>
</div>
</div>