<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="my-4">
          <form [formGroup]="registrationForm">
            <h3 style="text-align: center;">
              User Registration Form
            </h3>
          <div class="form-group">
            <label>Full Name:</label>
            <input type="text" formControlName="fullName" class="form-control" placeholder="enter full name" required="">
          </div>
          <div class="form-group">
            <label>Mobile:</label>
            <input type="tel" formControlName="mobile" class="form-control" placeholder="enter mobile number" required="">
          </div>
          <div class="form-group">
            <label>Address:</label>
            <textarea formControlName="address" class="form-control" required=""></textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit(registrationForm)">Register</button>
          <button type="reset" class="btn btn-info" (click)="onReset()">Reset</button>
        </form>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="my-3" *ngIf="dataShow">
      <h3>
        The full name of the user is:{{registrationForm.value.fullName}}
      </h3>
      <h3>
        Mobile number of the user is:{{registrationForm.value.mobile}}
      </h3>
      <h3>
        Address of the user is:{{registrationForm.value.address}}
      </h3>
    </div>
  </div>
  